
.main {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-columns: 280px 1fr;
  grid-template-rows: 90px 1fr;

  grid-template-areas:
    "nav header"
    "nav content";

  gap: 16px;
  padding: 16px;

  background: var(--background);
}

/* ======================
   SIDEBAR AREA
====================== */

.nav {
  grid-area: nav;
  height: calc(100vh - 32px);

}

/* ======================
   HEADER AREA
====================== */

.header-area {
  grid-area: header;

  height: 90px;

}

/* ======================
   CONTENT AREA
====================== */

.content {
  grid-area: content;

  min-height: 0;
  
  scrollbar-width: none;
  -ms-overflow-style: none;

  padding-right: 4px;
}

.content::-webkit-scrollbar {
  display: none;
}