POSTGRES_DB=appdb
POSTGRES_USER=appuser
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=energyflow.noreply@gmail.com
EMAIL_HOST_PASSWORD=gpptaztsggxaztqd
DEFAULT_FROM_EMAIL=energyflow.noreply@gmail.com

FRONTEND_URL=http://localhost:5173

SMARTTHINGS_CLIENT_ID=0ff611bc-5add-4ab6-a060-3ea59bae048a
SMARTTHINGS_CLIENT_SECRET=70949613-a281-47e5-a438-26b1a145d23e
SMARTTHINGS_REDIRECT_URI=http://localhost:8000/api/integrations/smartthings/callback/

VITE_API_URL=http://localhost:8000/api