/* ==========================
   devices PAGE LAYOUT
========================== */

.devices-page{

    display:grid;

    grid-template-rows:auto 1fr;

    height:100vh;

    gap:0;
}

/* ==========================
   LIST CONTAINER (SCROLL AREA)
========================== */

.devices-list-container{
    
    overflow-y:auto;


    min-height:0;

    mask-image:linear-gradient(
        to bottom,
        transparent 0,
        black 15px,
        black calc(100% - 15px),
        transparent 100%
    );

    -webkit-mask-image:linear-gradient(
        to bottom,
        transparent 0,
        black 15px,
        black calc(100% - 15px),
        transparent 100%
    );


    scrollbar-width:none;

    -ms-overflow-style:none;
    padding-bottom: 5%;
    
}

.devices-list-container::-webkit-scrollbar{

    display:none;
}

/* ==========================
   LIST
========================== */

.devices-list{


    display:flex;

    flex-direction:column;
    margin-bottom: 7%;
    margin-top: 1%;
    gap:2%;

}

.devices-loading {
    width: 100%;
    min-height: 200px;

    margin-bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}