
.monitoring-page{
    position:relative;
    height:80vh;
    overflow:hidden;
    background:#f4f7fb;
}

/* Scroll Area */

.devices-container-cards{

    height:100%;

    overflow-y:auto;

    padding:20px;

    display:flex;

    flex-wrap:wrap;

    gap:32px;

    align-content:flex-start;

    justify-content:flex-start;

    scroll-behavior:smooth;

}

/* Hide scrollbar */

.devices-container-cards::-webkit-scrollbar{

    display:none;

}

.devices-container-cards{

    scrollbar-width:none;

    -ms-overflow-style:none;

}

/* Fade at top */

.fade-top{

    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:20px;

    background:linear-gradient(
        to bottom,
        #f4f7fb 0%,
        rgba(244,247,251,.85) 45%,
        rgba(244,247,251,0) 100%
    );
    pointer-events:none;

    z-index:20;

}

/* Fade at bottom */

.fade-bottom{

    position:absolute;
    bottom:0;
    left:0;

    width:100%;
    height:20px;

    background:linear-gradient(
        to top,
        #f4f7fb 0%,
        rgba(244,247,251,.85) 45%,
        rgba(244,247,251,0) 100%
    );

    pointer-events:none;
    z-index:20;

}